body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-brand img {
  width: 120px;
  margin-left: 20px;
}

.navbar-links {
  margin-right: 20px;
}
